app:
  scheduler:
    enable: true
    interval: 10s
    force-check-delay: 10s

spring:
  application:
    name: scrapper
  liquibase:
    enabled: false
  datasource:
    url: jdbc:postgresql://localhost:5432/scrapper
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

server:
  port: 8080

logging:
  config: classpath:log4j2-plain.xml

api:
  github:
    baseURL: https://api.github.com/
  stackoverflow:
    baseURL: https://api.stackexchange.com/

springdoc:
  swagger-ui:
    path: /swagger-ui
