app:
  telegram-token: unset

spring:
  application:
    name: bot
  jackson:
    time-zone: UTC
  liquibase:
    enabled: false

username: ${USERNAME}

server:
  port: 8090

logging:
  config: classpath:log4j2-plain.xml

springdoc:
  swagger-ui:
    path: /swagger.html
